        {% comment %} <div class="modal fade" id="productModal{{ i.id }}" tabindex="-1" aria-labelledby="productModalLabel{{ i.id }}" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="productModalLabel{{ i.id }}">{{ i.product_name }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <img src="/media/{{i.image}}" class="card-img-top" alt="not found" height="250px" width="100px" />
                      <p>{{ i.desc }}</p>
                      <p>Price: {{ i.price }}</p>
                      <!-- Add more details here -->
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div> {% endcomment %}




