{% extends "base.html" %}
{% block title %}SignUp{% endblock title %}
{% block content %}

<style>
  label {
    text-align: left;
    display: block; /* Ensures each label occupies a new line */
    margin-bottom: 5px; /* Adds some spacing between labels and form fields */
  }
</style>

<div class="card bg-light p-5">
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-desmissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-as-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <h4 class="text-dark">SignUp</h4>
  <form action="/auth/signup/" method="post">{% csrf_token %} 
    <br>

    <div class="container">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control p-2" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="pass1">Password</label>
        <input type="password" class="form-control p-2" id="pass1" name="pass1" required>
      </div>
      <div class="form-group">
        <label for="pass2">Confirm Password</label>
        <input type="password" class="form-control p-2" id="pass2" name="pass2" required>
      </div>
      <br>
      <button type="submit" class="btn btn-dark">Sign In</button>
      <br>
      <p>Already User? <a href="/auth/login">Login</a></p>
    </div>
  </form>
</div>

{% endblock content %}
